[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
werkzeug = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev="flask run"
test="pytest ."
coverage="pytest --cov-report term-missing --cov=."

