body{
 background-color: grey;
 color: white;
}

h1{
    box-shadow: inset 0 0 17px brown;
    padding: 1rem;
    color: lightseagreen;
    text-align: center;

}
.mylist{
    text-align: center;
}

.city-bed{
display: flex;
justify-content:space-between;
}

.city{
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
}